<h2><%= current_user.name %>'s Bucket Lists</h2>
<br><br>
<% current_user.bucket_lists.uniq.each do |bucket| %>
    <h2><%= link_to bucket.name, bucket_list_path(bucket) %></h2><br>
<% end %>
<br><br><br>
<h4><%= link_to "Add A Bucket", new_bucket_list_path %></h4>