<h2>Create a New Bucket</h2>
<br>
<%= form_with model: @bucketlist, local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>

    <%= f.submit "Add Your Bucket" %>
<% end %>