<h2><%= @bucketlist.name %></h2>
<br>
<% if @bucketlist.goals != [] %>
    <ul>
    <li><%= @bucketlist.goals_id.each do |goal| %>
        <%= goal.name %></li>
        <% end %>
    </ul>
<% end %>

<%= link_to "Add A New Goal", new_goal_path %>