<div class="padded">
<h1>How To Use Bucket</h1>
<br>
<h2>Welcome to Bucket, a new program to help you keep track of your bucketlists!</h2>
<br>
<h2><b>So What <em>IS</em> A Bucket??</b></h2>
<h3>Think of a Bucket like a bucketlist of things you want to do in your life. Some examples may include places you want to visit, foods you want to try, or movies you've been meaning to see, but as far as we're concerned, the sky's the limit!</h3><br>
<h2><b>How Does It Work?</b></h2>
<h3>Usage is simple! To get started with <b>Bucket</b>, either click on the button at the top or on the new button on the "My Buckets" page to add a new Bucket and an initial goal for that Bucket!<br><br>
Once you've created your Bucket, all you have to do is click on the "Add Goal" button to add a new goal to your Bucket!<br><br>
Once you've accomplished one of the goals in your Bucket, just click on the "Edit Goal" button and check the box to let yourself know and go look at your new accomplishment!</h3>
</div>