<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Bucket</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'My Buckets', bucket_lists_path, class: "nav-link" %>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <%= link_to 'Add A New Bucket', new_bucket_list_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Buckets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add A New Bucket</a>
      </li>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

<ul>
    <% if user_signed_in? %>
        <li><%= link_to 'Edit Your Account', edit_user_registration_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% end %>
</ul>